body {
    margin: 0;
    padding: 0;  
    background-color: #01004d;
}

/* Balance Section */

/* balance  */

.balance-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 0;
    width: 100%;
    position: absolute;
}

.balance-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 80px;
    width: 100%;
    border: 1px solid white;
    padding: 5px;
    border-radius: 5px;
}
.back-btn-img{
    width: 24px;
    height:24px;
    left: 20px;
    
}
.amount-txt{
    color: white;
    font-weight: bold;
    font-size: 18px;
    justify-content: center;

}
.img-plus-deposit{
    width: 19px;
    height:19px;
}
.img-setting{
    width: 24px;
    height:24px;
}
.drop-btn{
    width: 24px;
    height:24px;
}
.dropdown-content {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    background-color: #0c0c0c;
    border-radius: 5px;
}

/* main spin content  */

/* Header */

.main-spi-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 25px 10px;
    gap: 10px;
}

.spin-title{
    color: white;
    text-align: center;
    
}
.spin-header {
    font-size: 22px; 
    color: #ffdd57;
    font-weight: 700;
    text-transform: uppercase;

}

/* spin button  */
/* @keyframes pulse {
    0%, 100% {
        transform: scale(1);
        box-shadow: 0 0 10px rgba(245, 245, 245, 0.8);
    }
    50% {
        transform: scale(1.1);
        box-shadow: 0 0 20px rgba(245, 245, 245, 0.8);
    }
} */

/* .spin-button {
    padding: 20px;
    border-radius: 50%;
    cursor: pointer;
    font-weight: bold;
    font-size: 12px; 
    text-align: center;
    text-transform: uppercase;
    animation: pulse 1.5s infinite ease-in-out;
} */

/* arrow head  */
.pointer-arrow {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 30px solid #2bff00d2;
    position: absolute;
    top: 90px; 
    left: 50%;
}

